@use '../../node_modules/@lmc-eu/jobs-design-tokens/scss/@tokens.scss' as tokens;

.Header {
}

.Header__column {
  background-color: tokens.$brand-primary;
  background: tokens.$gradient-diagonal;
}

.Header__image {
  padding: tokens.$space-700;
}
