@use '@tokens' as tokens;

$breakpoint: tokens.$breakpoint-tablet;
$border-width: tokens.$border-width-100;
$border-style: tokens.$border-style-100;
$border-radius: tokens.$radius-100;

$padding-button-mobile: tokens.$space-400;
$padding-button-tablet: tokens.$space-400 calc(#{tokens.$space-1000} + #{tokens.$space-400});

$variants: (
    primary: (
        default-color: tokens.$text-primary-inverted-default,
        default-background: tokens.$action-primary-default,
        default-border-color: tokens.$action-primary-default,
    ),
    secondary: (
        default-color: tokens.$text-primary-default,
        default-background: tokens.$background-interactive-default,
        default-border-color: tokens.$action-secondary-default,
    ),
);
