@use 'sass:map';
@use 'theme';

@each $size-name, $size-variables in theme.$sizes {
    .Text--#{$size-name} {
        font-size: map.get($size-variables, font-size);
        line-height: map.get($size-variables, line-height);
    }
}

@each $color-name, $color-value in theme.$colors {
    .Text--#{$color-name} {
        color: $color-value;
    }
}
