@use 'theme';

.Text {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;

    @media (min-width: theme.$breakpoint) {
        font-size: 18px;
    }
}

.Text--primary {
    color: theme.$primary;
}

.Text--secondary {
    color: theme.$secondary;
}

.Text--inverted {
    color: theme.$inverted;
}

.Text--small {
    font-size: 14px;
    line-height: 1.4;
}
