@use 'theme';

.Content {
    max-width: 680px;
    margin: 0 auto;
    background: theme.$content-background;
}

.Content__cell {
    padding: theme.$content-padding-mobile;

    @media (min-width: theme.$breakpoint) {
        padding: theme.$content-padding;
    }
}
