@use '@tokens' as tokens;

.Heading {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
}

.Heading--space {
    padding-bottom: tokens.$space-700;

    @media (min-width: tokens.$breakpoint-tablet) {
        padding-bottom: tokens.$space-800;
    }
}

.Heading--small {
    font-size: 1.25rem;

    @media (min-width: tokens.$breakpoint-tablet) {
        font-size: 1.5rem;
    }
}

.Heading--medium {
    font-size: 1.5rem;

    @media (min-width: tokens.$breakpoint-tablet) {
        font-size: 2rem;
    }
}
