// Basic font sizes

$text-small-font-size: 14px;
$text-medium-font-size: 16px;
$text-large-font-size: 18px;

$text-small-line-height: 1.4;
$text-medium-line-height: 1.8;
$text-large-line-height: 1.8;

// Heading font size
$heading-medium-font-size: 20px;

// Font weights
$font-weight-normal: 400;

// Font families
$font-family-base: Arial, sans-serif;
