@use 'sass:map';
@use '@tokens' as tokens;

$breakpoint: tokens.$breakpoint-tablet;

$primary: tokens.$action-link-primary-default;
$secondary: tokens.$action-link-secondary-default;
$inverted: tokens.$action-link-inverted-default;
