@use '@tokens' as tokens;
@use 'theme';

.Link {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.8;
    text-decoration: underline;

    @media (min-width: tokens.$breakpoint-tablet) {
        font-size: 16px;
    }
}

.Link--primary {
    color: theme.$primary;
}

.Link--secondary {
    color: theme.$secondary;
}

.Link--inverted {
    color: theme.$inverted;
}

.Link--small {
    font-size: 14px;
    line-height: 1.4;

    @media (min-width: tokens.$breakpoint-tablet) {
        font-size: 14px;
    }
}
